.about {
  padding: 80px 0;
  background-color: var(--athens-color);

  &__list {
    --mission-gap: 94px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
    gap: calc(var(--mission-gap) * 2);

    @include tablet {
      --mission-gap: 34px;
    }

    @include small-tablet {
      --mission-gap: 10px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    position: relative;
    padding-top: 72px;
    text-align: center;
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: calc(-1 * var(--mission-gap));
        top: 0;
        width: 1px;
        height: 100%;
        background-image: url("../../img/divider.svg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        @include mobile {
          display: none;
        }
      }
    }

    &--quality {
      background-image: url("../../img/icons-not-sprite/quality-ico.svg");
    }

    &--safety {
      background-image: url("../../img/icons-not-sprite/safety-ico.svg");
    }

    &--comfort {
      background-image: url("../../img/icons-not-sprite/comfort-ico.svg");
    }

    @include mobile {
      margin-bottom: 35px;
      max-width: 65%;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--ebony-color);
  }

  &__descr {
    margin: 0;
    font-size: 16px;
    line-height: 160%;
    color: var(--storm-color);
  }
}
