.categories {
  padding-top: 120px;
  padding-bottom: 180px;

  &__title {
    margin: 0;
    margin-bottom: 40px;
  }

  @include mobile {
    padding-top: 60px;
    padding-bottom: 90px;
  }
}

.categories-nav {
  display: flex;
  align-items: center;
  margin-bottom: 60px;

  @include tablet {
    flex-wrap: wrap;
  }

  &__item {
    width: calc(100% / 6);

    @include tablet {
      width: calc(100% / 3);
    }

    @include tablet {
      width: calc(100% / 2);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #9a9ca5;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 1px solid var(--primary-color);
      outline-offset: 3px;
    }

    &:hover {
      color: var(--primary-color);
    }

    &:active {
      color: var(--active-color);
    }

    &--active {
      border-color: currentColor;
      color: var(--primary-color);
    }
  }
}

.categories-list {
  grid-row-gap: 60px;
  margin-bottom: 60px;

  @include small-tablet {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    grid-column: 6 span;

    @include small-tablet {
      grid-column: 4 span;
    }
  }

  .news-article__descr {
    overflow: hidden;
    height: 70px;
  }
}

.categories-pag {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-color);
    transition: color 0.3s ease-in-out;

    svg {
      display: block;
      width: 24px;
      height: 24px;
      fill: currentColor;
      object-fit: cover;
    }

    &:focus {
      outline: 1px solid var(--primary-color);
      outline-offset: 3px;
    }

    &:hover {
      color: var(--primary-color);
    }

    &:active {
      color: var(--active-color);
    }

    &--active {
      color: var(--primary-color);
    }
  }
}
