.footer {
  padding: 80px 0;
  color: rgba(#fff, 0.6);
  background-color: var(--ebony-color);

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;

    @include mobile {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__title {
    margin: 0;
    margin-top: 4px;
    margin-bottom: 16px;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light-color);
  }

  &__social {
    opacity: 0.6;
  }

  &__left {
    grid-column: 7 span;

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__logo {
    margin-right: 55px;

    &:focus {
      outline: 1px solid var(--primary-color);
      outline-offset: 3px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 21px;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__logo {
    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__descr {
    margin: 0;
    width: 100%;
    max-width: 495px;
    font-size: 14px;
    line-height: 150%;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    grid-column: 5 span;

    @include small-tablet {
      grid-column: 12 span;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__address {
    grid-column: 4 span;
  }

  &__nav {
    grid-column: 8 span;

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__copyright {
    grid-column: 12 span;
    padding-top: 28px;
    font-size: 12px;
    line-height: 150%;
    color: var(--light-color);

    span {
      padding-left: 22px;
      background-image: url("../../img/icons-not-sprite/Heart.svg");
      background-position: 2px center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }
}

.footer-form {
  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--light-color);
  }

  &__items {
    @include flex-v-center;

    margin-bottom: 6px;
    width: 100%;
  }

  .form-field {
    margin: 0;
  }

  .form-field__input {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba(255, 255, 255, 0.12);
  }

  &__btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 11px 25px;
    font-size: 14px;
  }

  &__descr {
    font-size: 12px;
    line-height: 150%;
  }
}

.footer-address {
  font-style: normal;

  &__item {
    font-size: 16px;
    line-height: 160%;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    span {
      font-size: 16px;
      line-height: 160%;
      color: var(--light-color);
    }
  }

  &__link {
    color: inherit;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 1px solid var(--primary-color);
      outline-offset: 3px;
    }

    &:hover {
      color: var(--light-color);
    }

    &:active {
      color: var(--light-color);
    }
  }
}

.footer-nav {
  display: flex;
  margin-left: 50px;

  &__col {
    &:not(:last-child) {
      margin-right: 125px;

      @include small-tablet {
        margin-right: 50px;
      }

      @include mobile {
        margin-right: 15px;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__link {
    color: inherit;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 1px solid var(--primary-color);
      outline-offset: 3px;
    }

    &:hover {
      color: var(--light-color);
    }

    &:active {
      color: var(--light-color);
    }
  }

  @include small-tablet {
    margin-left: 10px;
  }

  @include mobile {
    justify-content: space-evenly;
    margin-left: 0;
  }
}
