.form-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__caption {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-color);
  }

  &__input {
    border: 1px solid #d7dadd;
    border-radius: 4px;
    padding: 0 15px;
    width: 260px;
    height: 44px;
    font-size: 14px;
    line-height: 150%;
    background: var(--athens-color);

    &::placeholder {
      color: #9a9ca5;
    }

    &--textarea {
      padding: 10px;
      height: 66px;
      resize: none;
    }
  }

  &--large {
    flex-grow: 2;

    .form-field__input {
      width: 100%;
    }
  }

  &--gray {
    width: 100%;

    .form-field__input {
      width: 100%;
      background: var(--athens-color);
    }
  }
}
