.header {
  padding: 22px 0;

  &__container {
    @include flex-all-sb;
  }

  &__nav {
    margin-left: -120px;

    @include mini-desktop {
      margin-left: 0;
    }

    @include tablet {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1000;
      display: block;
      overflow-y: auto;
      padding: 50px;
      width: 80%;
      height: 100vh;
      background-color: #fff;
      transform: translateX(-150%);
      transition: transform 0.3s ease-in-out;

      &--active {
        transform: none;
      }
    }

    @include mobile {
      padding: 20px;
    }
  }

  &--main {
    background-color: var(--light-color);
  }

  &--secondary {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}

.nav {
  &__list {
    @include flex-v-center;

    @include tablet {
      display: block;
      margin-bottom: 40px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;

      @include tablet {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-color);
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 1px solid var(--primary-color);
      outline-offset: 3px;
    }

    &:hover {
      color: var(--primary-color);
    }

    &:active {
      color: var(--active-color);
    }

    &--current {
      color: var(--primary-color);
    }
  }
}

.header-contacts {
  @include flex-v-center;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &--nav {
    display: none;

    @include tablet {
      display: block !important;
    }
  }

  @include tablet {
    display: none;
  }
}

.contact-link {
  padding-left: 52px;
  background-position: left center;
  background-size: 40px 40px;
  background-repeat: no-repeat;

  &__caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-color);
  }

  &__value {
    font-size: 18px;
    line-height: 150%;
    color: var(--ebony-color);
    transition: color 0.3s ease-in-out;

    @include mini-desktop {
      font-size: 14px;
    }
  }

  &:focus {
    outline: 1px solid var(--primary-color);
    outline-offset: 3px;
  }

  &:hover {
    .contact-link__value {
      color: var(--primary-color);
    }
  }

  &:active {
    .contact-link__value {
      color: var(--primary-color);
    }
  }

  &--phone {
    background-image: url("../../img/icons-not-sprite/iphone-icon.svg");
  }

  &--mail {
    background-image: url("../../img/icons-not-sprite/chat-icon.svg");
  }
}

.logo {
  &:focus {
    outline: 1px solid var(--primary-color);
    outline-offset: 3px;
  }

  @include mini-desktop {
    max-width: 100px;
  }

  @include tablet {
    max-width: none;
  }
}
