.history {
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: var(--athens-color);

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
  }

  &__content {
    @include small-tablet {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    grid-column: 8 span;
    overflow: hidden;

    @include small-tablet {
      grid-column: 4 span;
    }
  }

  &__slider-nav {
    transform: translateY(7px) translateX(12px);
  }

  &__image {
    margin-bottom: 34px;
    width: 100%;
    max-width: 810px;
    max-height: 450px;
    object-fit: cover;
  }

  &__descr {
    margin: 0;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-color);
  }
}

.history-nav {
  position: relative;
  grid-column: 4 span;

  &::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(#9a9ca5, 0.5);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__btn {
    position: relative;
    padding-left: 40px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #9a9ca5;
    transition: color 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: -8px;
      top: 10px;
      border: 8px solid var(--athens-color);
      border-radius: 100%;
      width: 8px;
      height: 8px;
      box-sizing: content-box;
      background-color: currentcolor;

      @include small-tablet {
        top: 3px;
      }
    }

    &:focus {
      outline: none;
      color: var(--active-color);
    }

    &:hover {
      color: var(--primary-color);
    }

    &:active {
      color: var(--active-color);
    }

    &--active {
      color: var(--primary-color);
    }

    @include tablet {
      font-size: 20px;
    }
  }
}
