.page-hero {
  padding-top: 153px;
  padding-bottom: 115px;
  min-height: 600px;
  background-position: right top;
  background-repeat: no-repeat;
  background-color: var(--athens-color);

  &__breadcrumbs {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    max-width: 600px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--ebony-color);

    &--small {
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 1px;
      text-transform: initial;
    }
  }

  &__descr {
    margin: 0;
    max-width: 600px;
    font-size: 20px;
    line-height: 150%;
    color: var(--storm-color);
  }

  &--services {
    background-image: url("../../img/services-hero-bg.png");
  }

  &--services-inner {
    background-image: url("../../img/services-inner-hero-bg.png");
  }

  &--work {
    background-image: url("../../img/our-work-bg.png");
  }

  &--work-inner {
    background-image: url("../../img/work-hero-bg.png");
    background-position: right -10px top 47px;
    background-color: var(--light-color);
  }
}
