.positions-content {
  padding-top: 120px;
  padding-bottom: 57px;

  &__left {
    grid-column: 7 span;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    grid-column: 5 span;
  }
}

.positions-looking {
  width: 390px;

  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--ebony-color);
  }

  &__descr {
    margin: 0;
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-color);
  }

  &__btn {
    &--send {
      padding-right: 54px;
      padding-left: 54px;
    }

    &--subs {
      margin-right: 20px;
      padding-right: 44px;
      padding-left: 44px;
    }
  }
}

.positions-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.positions-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  padding: 32px 40px;
  background-color: var(--light-color);

  &__meta {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 150%;
    color: var(--storm-color);
  }

  &__city {
    position: relative;
    margin-right: 20px;
    padding-left: 24px;
    background-image: url("../../img/icons-not-sprite/city-location.svg");
    background-position: left center;
    background-size: 16px 16px;
    background-repeat: no-repeat;

    &::after {
      content: "";
      position: absolute;
      right: -12px;
      top: 50%;
      width: 1px;
      height: 70%;
      background-color: currentcolor;
      transform: translateY(-50%);
    }
  }

  &__time {
    padding-left: 24px;
    background-image: url("../../img/icons-not-sprite/time-clock.svg");
    background-position: left center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--ebony-color);
  }

  &__link {
    display: inline-block;
    padding: 12px 32px;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--primary-color);
  }
}
