.worldwide {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: var(--athens-color);

  @include small-tablet {
    display: none;
  }
}

.worldwide-map {
  svg {
    width: 100%;
  }
}
