<section class="clients">
  <div class="container">
    <h2 class="title title--center title-mb60">Our clients</h2>
    <ul class="list-reset clients__list">
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img src="../img/partners/1.png" alt="logo company" class="clients__logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img src="../img/partners/2.png" alt="logo company" class="clients__logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img src="../img/partners/3.png" alt="logo company" class="clients__logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img src="../img/partners/4.png" alt="logo company" class="clients__logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img src="../img/partners/5.png" alt="logo company" class="clients__logo">
        </a>
      </li>
    </ul>
  </div>
</section>