<section class="facts">
  <div class="container">
    <h2 class="title facts-tilte title-mb60 title--center">Some facts and figures</h2>
    <ul class="list-reset facts__list">
      <li class="facts__item">
        <div class="facts-element">
          <div class="facts-element__circle facts-element__circle--1">
            <div class="facts-element__value facts-element__value--1">0%</div>
          </div>
          <span class="facts-element__text">Totally satisfied clients</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element">
          <div class="facts-element__circle facts-element__circle--2">
            <div class="facts-element__value facts-element__value--2">0%</div>
          </div>
          <span class="facts-element__text">Years of experience</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element">
          <div class="facts-element__circle facts-element__circle--3">
            <div class="facts-element__value facts-element__value--3">0%</div>
          </div>
          <span class="facts-element__text">Working hours spent</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element">
          <div class="facts-element__circle facts-element__circle--4">
            <div class="facts-element__value facts-element__value--4">0%</div>
          </div>
          <span class="facts-element__text">Succeeded projects</span>
        </div>
      </li>
    </ul>
  </div>
</section>