<footer class="footer">
  <a href="#page" data-scroll class="to-top">
    <span class="to-top__text">Go to top</span>
    <span class="to-top__icon">
      <svg>
        <use xlink:href="img/sprite.svg#to-top"></use>
      </svg>
    </span>
  </a>
  <div class="footer__container container">
    <div class="footer__left">
      <div class="footer__top">
        <a class="footer__logo" href="#">
          <img src="../img/logo-light.svg" alt="Createx logo">
        </a>
        <ul class="social footer__social list-reset">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="WhatsApp">
              <svg class="">
                <use xlink:href="img/sprite.svg#whats"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Messanger">
              <svg class="">
                <use xlink:href="img/sprite.svg#mess"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#fb"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#tw"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Youtube">
              <svg class="">
                <use xlink:href="img/sprite.svg#yt"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer__descr">
        Createx Construction Bureau has been successfully operating in&nbsp;the USA construction market since 2000.
        We&nbsp;are proud to&nbsp;offer you quality construction and exemplary service. Our mission is&nbsp;to&nbsp;set
        the highest standards for construction sphere.
      </p>
    </div>
    <form class="footer-form footer__form" action="#">
      <h3 class="footer-form__title">Let’s stay in touch</h3>
      <div class="footer-form__items">
        <label class="form-field form-field--gray contacts-form__field">
          <input class="form-field__input" type="email" name="email" placeholder="Your email address">
        </label>
        <button class="btn btn--fill footer-form__btn">subscribe</button>
      </div>
      <p class="footer-form__descr">
        *Subscribe to&nbsp;our newsletter to&nbsp;receive communications and early updates from Createx Construction
        Bureau.
      </p>
    </form>
    <address class="footer-address footer__address">
      <h3 class="footer-address__title footer__title">HEAD OFFICE</h3>
      <ul class="footer-address__items list-reset">
        <li class="footer-address__item">
          <span>Address:</span>
          <a href="" class="footer-address__link">8502 Preston Rd. Inglewood, New York</a>
        </li>
        <li class="footer-address__item">
          <span>Call:</span><a href="tel:4055550128" class="footer-address__link">(405) 555-0128</a>
        </li>
        <li class="footer-address__item">
          <span>Email:</span>
          <a href="mailto:hello@createx.com" class="footer-address__link">hello@createx.com</a>
        </li>
      </ul>
    </address>
    <nav class="footer-nav footer__nav" title="secondary navigation">
      <div class="footer-nav__col">
        <h3 class="footer-address__title footer__title">WHO WE ARE</h3>
        <ul class="footer-nav__items list-reset">
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">About Us</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Available Positions</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Contacts</a></li>
        </ul>
      </div>
      <div class="footer-nav__col">
        <h3 class="footer-address__title footer__title">OUR EXPERIENCE</h3>
        <ul class="footer-nav__items list-reset">
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Services</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Work</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">News</a></li>
        </ul>
      </div>
    </nav>
    <small class="footer__copyright">
      &copy;&nbsp;All rights reserved. Made with
      <span>
        by Createx Studio
      </span>
    </small>
  </div>
</footer>
<div class="overlay"></div>