<section class="page-hero page-hero--work-inner">
  <div class="container">
    <ul class="breadcrumbs list-reset page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Work</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Modern Cottage</a>
      </li>
    </ul>
    <h1 class="page-hero__titte page-hero__title--small title-mb60">Modern Cottage</h1>
    <div class="work-images">
      <div class="work-images-slider swiper">
        <button class="btn-reset work-images__prev slider-nav__btn slider-btn">
          <svg class="">
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset work-images__next slider-nav__btn slider-btn">
          <svg class="">
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../img/work/1.jpg" alt="work 1">
          </div>
          <div class="swiper-slide">
            <img src="../img/work/1.jpg" alt="work 1">
          </div>
          <div class="swiper-slide">
            <img src="../img/work/1.jpg" alt="work 1">
          </div>
        </div>
      </div>
      <div class="work-images-nav swiper" thumbsSlider="">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../img/work/1-small.jpg" alt="work 1">
          </div>
          <div class="swiper-slide">
            <img src="../img/work/1-small.jpg" alt="work 1">
          </div>
          <div class="swiper-slide">
            <img src="../img/work/1-small.jpg" alt="work 1">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
