<section class="portfolio">
  <div class="container">
    <h2 class="visually-hidden">Portfolio</h2>
    <ul class="portfolio-tabs-nav list-reset">
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn portfolio-tabs-nav__btn--active" data-path="all">
          <svg class=portfolio-tabs-nav__icon>
            <use xlink:href="img/sprite.svg#house"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">All Projects</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="portfolio-tabs-nav__btn btn-reset" data-path="const">
          <svg class=portfolio-tabs-nav__icon>
            <use xlink:href="img/sprite.svg#service-1"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Construction</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="portfolio-tabs-nav__btn btn-reset" data-path="dev">
          <svg class=portfolio-tabs-nav__icon>
            <use xlink:href="img/sprite.svg#service-2"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Project Development</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="portfolio-tabs-nav__btn btn-reset" data-path="design">
          <svg class=portfolio-tabs-nav__icon>
            <use xlink:href="img/sprite.svg#service-3"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Interior Design</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="portfolio-tabs-nav__btn btn-reset" data-path="repair">
          <svg class=portfolio-tabs-nav__icon>
            <use xlink:href="img/sprite.svg#service-4"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Repairs</span>
        </button>
      </li>
    </ul>
    <ul class="list-reset portfolio-tabs">
      <li class="portfolio-tabs__item">
        <a class="portfolio-item" href="#">
          <picture>
            <source srcset="../../img/portfolio-2.avif" type="image/avif">
            <source srcset="../../img/portfolio-2.webp" type="image/webp">
            <img loading="lazy" src="../../img/portfolio-2.jpg" class="image" width="390" height="345"
              alt="Portfolio cover">
          </picture>
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a class="portfolio-item" href="#">
          <picture>
            <source srcset="../../img/portfolio-4.avif" type="image/avif">
            <source srcset="../../img/portfolio-4.webp" type="image/webp">
            <img loading="lazy" src="../../img/portfolio-4.jpg" class="image" width="390" height="345"
              alt="Portfolio cover">
          </picture>
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a class="portfolio-item" href="#">
          <picture>
            <source srcset="../../img/portfolio-5.avif" type="image/avif">
            <source srcset="../../img/portfolio-5.webp" type="image/webp">
            <img loading="lazy" src="../../img/portfolio-5.jpg" class="image" width="390" height="345"
              alt="Portfolio cover">
          </picture>
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a class="portfolio-item" href="#">
          <picture>
            <source srcset="../../img/related-projects-2.avif" type="image/avif">
            <source srcset="../../img/related-projects-2.webp" type="image/webp">
            <img loading="lazy" src="../../img/related-projects-2.jpg" class="image" width="390" height="345"
              alt="Portfolio cover">
          </picture>
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a class="portfolio-item" href="#">
          <picture>
            <source srcset="../../img/related-projects-1.avif" type="image/avif">
            <source srcset="../../img/related-projects-1.webp" type="image/webp">
            <img loading="lazy" src="../../img/related-projects-1.jpg" class="image" width="390" height="345"
              alt="Portfolio cover">
          </picture>
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a class="portfolio-item" href="#">
          <picture>
            <source srcset="../../img/portfolio-2.avif" type="image/avif">
            <source srcset="../../img/portfolio-2.webp" type="image/webp">
            <img loading="lazy" src="../../img/portfolio-2.jpg" class="image" width="390" height="345"
              alt="Portfolio cover">
          </picture>
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a class="portfolio-item" href="#">
          <picture>
            <source srcset="../../img/portfolio-1.avif" type="image/avif">
            <source srcset="../../img/portfolio-1.webp" type="image/webp">
            <img loading="lazy" src="../../img/portfolio-1.jpg" class="image" width="390" height="345"
              alt="Portfolio cover">
          </picture>
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a class="portfolio-item" href="#">
          <picture>
            <source srcset="../../img/related-projects-3.avif" type="image/avif">
            <source srcset="../../img/related-projects-3.webp" type="image/webp">
            <img loading="lazy" src="../../img/related-projects-3.jpg" class="image" width="390" height="345"
              alt="Portfolio cover">
          </picture>
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a class="portfolio-item" href="#">
          <picture>
            <source srcset="../../img/portfolio-6.avif" type="image/avif">
            <source srcset="../../img/portfolio-6.webp" type="image/webp">
            <img loading="lazy" src="../../img/portfolio-6.jpg" class="image" width="390" height="345"
              alt="Portfolio cover">
          </picture>
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
    </ul>
    <div class="centered">
      <button class="btn-reset portfolio-more">
        <svg>
          <use xlink:href="img/sprite.svg#convert"></use>
        </svg>
        Load more
      </button>
    </div>
  </div>
</section>