<section class="page-hero page-hero--post">
  <div class="container">
    <ul class="breadcrumbs list-reset page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">News</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">How to Build Climate Change-Resilient Infrastructure</a>
      </li>
    </ul>
    <h1 class="page-hero__title">How to Build Climate Change-Resilient Infrastructure</h1>
    <div class="page-hero__bottom">
      <div class="page-hero__meta article-meta">
        <a class="article-meta__item article-meta__item--primary" href="#">Industry News</a>
        <time class="article-meta__item article-meta__item--time" datetime="2021-07-01 19:00">June 24, 2020</time>
        <span class="article-meta__item article-meta__item--comments">4 comments</span>
      </div>
      <ul class="social page-hero__social list-reset">
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Facebook">
            <svg class="">
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Linkedin">
            <svg class="">
              <use xlink:href="img/sprite.svg#lkin"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Twitter">
            <svg class="">
              <use xlink:href="img/sprite.svg#tw"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
