<section class="service-section section-ofset">
  <div class="container">
    <h2 class="title title--center">Our services</h2>
    <p class="descr descr--center">
      Createx Construction Bureau is&nbsp;a&nbsp;construction giant with a&nbsp;full range of&nbsp;construction services.
    </p>
    <ul class="service-list list-reset service-section__list">
      <li class="service-list__item">
        <a class="service-item service-item--construct" href="#">
          <div class="service-item__content">
            <svg class="service-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#service-1"></use>
            </svg>
            <h3 class="service-item__title">Construction</h3>
          </div>
        </a>
      </li>
      <li class="service-list__item">
        <a class="service-item service-item--project" href="#">
          <div class="service-item__content">
            <svg class="service-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#service-2"></use>
            </svg>
            <h3 class="service-item__title">Project Development</h3>
          </div>
        </a>
      </li>
      <li class="service-list__item">
        <a class="service-item  service-item--design" href="#">
          <div class="service-item__content">
            <svg class="service-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#service-3"></use>
            </svg>
            <h3 class="service-item__title">Interior Design</h3>
          </div>
        </a>
      </li>
      <li class="service-list__item">
        <a class="service-item service-item--repairs" href="#">
          <div class="service-item__content">
            <svg class="service-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#service-4"></use>
            </svg>
            <h3 class="service-item__title">Repairs</h3>
          </div>
        </a>
      </li>
    </ul>
    <div class="service-section__learn learn-more">
      <h4 class="learn-more__subtitle">Learn more about our services</h4>
      <a class="btn-reset btn btn--fill learn-more__btn" href="#">View services</a>
    </div>
  </div>
</section>