<section class="services">
    <img class="services__decorate-1" loading="lazy" src="../img/services-decor-bg-left.png" alt="" aria-hidden="true">
    <img class="services__decorate-2" loading="lazy" src="../img/services-decor-bg-right.png" alt="" aria-hidden="true">
  <div class="container">
    <h2 class="visually-hidden">Services content</h2>
    <ul class="services__list list-reset">
      <li class="services__item">
        <div class="services__image">
          <picture>
            <source srcset="../../img/service-1.avif" type="image/avif">
            <source srcset="../../img/service-1.webp" type="image/webp">
            <img loading="lazy" src="../../img/service-1.jpg" class="image" width="575" height="420" aria-hidden="true">
          </picture>
        </div>
        <div class="services__info">
          <h2 class="services__title">Construction</h2>
          <p class="services__descr">
            Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id&nbsp;sodales ultricies sed ut&nbsp;ut&nbsp;augue. Mattis habitant venenatis, gravida posuere massa ac&nbsp;interdum. Eget aliquam dignissim ut&nbsp;vestibulum.
          </p>
          <a class="services__link btn btn--stroke btn--stroke-primary" href="#">Learn more</a>
        </div>
      </li>
      <li class="services__item services__item--reverse">
        <div class="services__image">
          <picture>
            <source srcset="../../img/service-2.avif" type="image/avif">
            <source srcset="../../img/service-2.webp" type="image/webp">
            <img loading="lazy" src="../../img/service-2.jpg" class="image" width="575" height="420" aria-hidden="true">
          </picture>
        </div>
        <div class="services__info">
          <h2 class="services__title">Project Development</h2>
          <p class="services__descr">
            Volutpat tellus mauris sit sit. Posuere ut&nbsp;sit vestibulum amet viverra&nbsp;in. Est nulla lectus purus tincidunt massa tortor. Hendrerit vulputate elementum blandit massa vitae amet felis eget.
          </p>
          <a class="services__link btn btn--stroke btn--stroke-primary" href="#">Learn more</a>
        </div>
      </li>
      <li class="services__item">
        <div class="services__image">
          <picture>
            <source srcset="../../img/service-3.avif" type="image/avif">
            <source srcset="../../img/service-3.webp" type="image/webp">
            <img loading="lazy" src="../../img/service-3.jpg" class="image" width="575" height="420" aria-hidden="true">
          </picture>
        </div>
        <div class="services__info">
          <h2 class="services__title">Interior Design</h2>
          <p class="services__descr">
            Eleifend orci massa et&nbsp;facilisis orci feugiat&nbsp;ac. Congue in&nbsp;ut&nbsp;lacus, turpis accumsan gravida. Aliquet mattis dignissim massa sociis&nbsp;a, id&nbsp;bibendum. Egestas lorem eros, mi&nbsp;cras amet, vel eget molestie. Turpis enim arcu, amet donec massa pellentesque nulla duis. Arcu dictum metus sed purus senectus faucibus eget elementum pretium.
          </p>
          <a class="services__link btn btn--stroke btn--stroke-primary" href="#">Learn more</a>
        </div>
      </li>
      <li class="services__item services__item--reverse">
        <div class="services__image">
          <picture>
            <source srcset="../../img/service-4.avif" type="image/avif">
            <source srcset="../../img/service-4.webp" type="image/webp">
            <img loading="lazy" src="../../img/service-4.jpg" class="image" width="575" height="420" aria-hidden="true">
          </picture>
        </div>
        <div class="services__info">
          <h2 class="services__title">Repairs</h2>
          <p class="services__descr">
            Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id egestas mattis. Turpis viverra nec urna ultrices urna.
          </p>
          <a class="services__link btn btn--stroke btn--stroke-primary" href="#">Learn more</a>
        </div>
      </li>
    </ul>
  </div>
</section>