<section class="we-offer">
  <div class="container we-offer__container">
    <div class="we-offer__image">
      <picture aria-hidden="true">
        <source srcset="img/we-offer-1.avif" type="image/avif">
        <source srcset="img/we-offer-1.webp" type="image/webp">
        <img loading="lazy" src="img/we-offer-1.jpg" class="image" width="705" height="404" alt="">
      </picture>
    </div>
    <div class="we-offer__content">
      <h2 class="we-offer__title">We offer</h2>
      <div class="we-offer__accordion accordion">
        <dl>
          <dt>
            <a href="#accordion1" aria-expanded="false" aria-controls="accordion1"
              class="accordion-title accordionTitle js-accordionTrigger">
              <div class="accordion__icon"></div>
              Interior design of&nbsp;
              <br>
              apartments
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
            <p>
              Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus.
              Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
            </p>
          </dd>
          <dt>
            <a href="#accordion2" aria-expanded="false" aria-controls="accordion2"
              class="accordion-title accordionTitle js-accordionTrigger">
              <div class="accordion__icon"></div>
              Interior design of&nbsp;private
              <br>
              houses
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
            <p>
              lobortis ut, iaculis vel ipsum. Donec dignissim arcu nec elit faucibus condimentum. Donec facilisis
              consectetur enim sit amet varius. Pellentesque justo dui, sodales quis luctus a, iaculis eget mauris.
            </p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>
